<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
       <div class="panel-heading center">
          <% if @pin.image.attached? %>
            <image src="<%=(url_for(@pin.image))%>" , width= '300px' , height = '300px'>
          <% end %></div>
          <div class="panel-body">

          <strong>Description:</strong>
          <%= @pin.description %></br>
          <strong>User:</strong><%= @pin.user.name if @pin.user%><br/>
           <% if @pin.user != current_user %>
             <%= link_to 'Edit', edit_pin_path(@pin) %> |
           <% end %>
           <%= link_to 'Back', pins_path %>
        </div>
    </div>
  </div>
</div>