<p id="notice"><%= notice %></p>

<p>
  <% if @pin.image.attached? %>
    <image src="<%=(url_for(@pin.image))%>" , width= '300px' , height = '300px'>
  <% end %></br>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
